.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: white;
  box-shadow: 2px 2px 50px gray;
  overflow: scroll;
  h1 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  &:hover {
    background-color: rgb(220, 218, 238);
  }

  img {
    width: 30%;
  }
  .song-description {
    padding-left: 1rem;
    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 0.7rem;
    }
  }
}
